.contact{
    height:65vh;
    margin: 10% 2% 10% 2%;
    color: #5a5957;
    text-align: center;
    position:relative;
    @media screen and(min-width:360px){
    height:55vh;
    }
    @media screen and(min-width:400px){
    height:45vh;
    }
    @media screen and(min-width:600px){
    height:65vh;
    }
    @media screen and(min-width:1024px){
    margin: 7% 2% 7% 2%;
    height:77vh;
    }

    .container__filter{
        background: url(../images/img6.jpeg) center/cover no-repeat;
        filter:opacity(0.3);
        z-index: 1;
        height:65vh;
        width:100%;
        position:absolute;
        @media screen and(min-width:360px){
        height:55vh;
        }
        @media screen and(min-width:400px){
        height:45vh;
        }
        @media screen and(min-width:600px){
        height:65vh;
        }
        @media screen and(min-width:1024px){
        height:77vh;
        }
    }

    .contact__content{
        z-index: 12;
        background: transparent;
        position:absolute;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contact__welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

     .contact__title{
    text-transform: uppercase;
    font-size: 150%;
    position:relative;

    @media screen and(min-width:600px){
    font-size: 300%;
    }
    }
    .contact__title::after{
    content: '';
    position:absolute;
    bottom:-0.7em;
    left:38%;   
    height: 0.1em;
    width:23%;
    background: #d07c7c;

    @media screen and(min-width:480px){
    bottom:-3.7em;
    }
    @media screen and(min-width:600px){
    bottom:-20%;  
    }
    @media screen and(min-width:1024px){
    bottom:-40%;
    }
    }

    .contact__text{
    font-size: 55%;
    width:100%;
    color: #848282;
    font-family: "Raleway";
    font-weight: 300;
    @media screen and(min-width:600px){
    font-size: 100%;
    }
    }

    .input__label{
        position:absolute;
        left:-9999px;
    }

    .contact__form{
        display:flex;
        flex-direction: column;
        width:50%;
        margin-top: 3%;
    }

    ::placeholder{
        padding: 0 0 0 3%;
    }

    .input__send{       
        text-transform: uppercase;
        font-size: 80%;
        color:#fff;
        width: 5rem;
        height: 1rem;
        background-color: #cf7b7b;
        box-shadow: 2px 2px  2px #000;
        @media screen and(min-width:600px){
        font-size: 100%;
        width: 10rem;
        height: 2.5rem;
        }
    }

    .input__send:hover{       
    box-shadow: 4px 4px  4px #000;
    }

    .input__text{
    height:1.5rem;
    padding: 2% 0 0 3%;
    font-size: 80%;
    margin:0.2rem 0;

    @media screen and(min-width:600px){
    margin:0.5rem 0;
    height:3rem;
    font-size: 120%;
    }
    }

    .input__message{
    padding: 2% 0 0 3%;
    font-size: 80%;
    margin:0.5rem 0;
    resize: none;
    height:4rem;

    @media screen and(min-width:600px){
    font-size: 120%;
    height:10rem;
    }   
    }

    .form__text{
    font-size: 55%;
    @media screen and(min-width:600px){
     font-size: 100%;
    }
    }
}