 .follow{
    height:25vh;
    margin: 25% 2% 15% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5a5957;
    text-align: center;

    @media screen and(min-width:1024px){
    margin: 10% 2% 10% 2%;
    }

    .follow__hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .follow__title{
    position:relative;
    text-transform: uppercase;
    font-size: 150%;
    @media screen and(min-width:600px){
    font-size: 300%;
    }
    }
    
    .follow__title::after{
    content: '';
    position:absolute;
    bottom:-0.75em;
    left:38%;   
    height: 0.1em;
    width:23%;
    background: #d07c7c;

    @media screen and(min-width:360px){
    bottom:-0.5em;
    }
    @media screen and(min-width:480px){
    bottom:-1em;
    }
    @media screen and(min-width:600px){
    bottom:-20%;  
    }
    @media screen and(min-width:1024px){
    bottom:-40%;
    }
    }

    .follow__media{
        margin:5rem;
        width:100%;
    }
    .icon{
        padding:0.2rem;
        font-size: 1.2rem;
        margin-left:0.2rem;
        margin-right:0.2rem;
        color: #5a5957;

    @media screen and(min-width:600px){
        padding:0.75rem;
        font-size: 2rem;
        margin-left:0.75rem;
        margin-right:0.75rem;
    }
    @media screen and(min-width:1024px){
        padding:2rem;
        font-size: 3rem;
        margin-left:1rem;
        margin-right:1rem;
    }
    }
    .icon:hover{
        @media screen and(min-width:1024px){
       background:#e6b5b5;
       border-radius:50%;
        }
    }
 }
